.project
.settings/org.eclipse.m2e.core.prefs
common-config/.project
common-config/.settings/org.eclipse.core.resources.prefs
common-config/.settings/org.eclipse.m2e.core.prefs
commons/.classpath
commons/.gitignore
commons/.project
commons/.settings/org.eclipse.core.resources.prefs
commons/.settings/org.eclipse.jdt.core.prefs
commons/.settings/org.eclipse.jdt.groovy.core.prefs
commons/.settings/org.eclipse.m2e.core.prefs
database/.classpath
database/.gitignore
database/.project
database/.settings/org.eclipse.core.resources.prefs
database/.settings/org.eclipse.jdt.core.prefs
database/.settings/org.eclipse.m2e.core.prefs
direct/.classpath
direct/.gitignore
direct/.project
direct/.settings/org.eclipse.core.resources.prefs
direct/.settings/org.eclipse.jdt.core.prefs
direct/.settings/org.eclipse.jdt.groovy.core.prefs
direct/.settings/org.eclipse.m2e.core.prefs
fakeToolkit/.classpath
fakeToolkit/.gitignore
fakeToolkit/.project
fakeToolkit/.settings/org.eclipse.core.resources.prefs
fakeToolkit/.settings/org.eclipse.jdt.core.prefs
fakeToolkit/.settings/org.eclipse.jdt.groovy.core.prefs
fakeToolkit/.settings/org.eclipse.m2e.core.prefs
gui/.project
gui/.settings/org.eclipse.core.resources.prefs
gui/.settings/org.eclipse.m2e.core.prefs
mail protocols/.classpath
mail protocols/.gitignore
mail protocols/.project
mail protocols/.settings/org.eclipse.core.resources.prefs
mail protocols/.settings/org.eclipse.jdt.core.prefs
mail protocols/.settings/org.eclipse.m2e.core.prefs
webapp/.classpath
webapp/.gitignore
webapp/.project
webapp/.settings/org.eclipse.core.resources.prefs
webapp/.settings/org.eclipse.jdt.core.prefs
webapp/.settings/org.eclipse.jdt.groovy.core.prefs
webapp/.settings/org.eclipse.m2e.core.prefs
xdr/.classpath
xdr/.gitignore
xdr/.project
xdr/.settings/org.eclipse.core.resources.prefs
xdr/.settings/org.eclipse.jdt.core.prefs
xdr/.settings/org.eclipse.jdt.groovy.core.prefs
xdr/.settings/org.eclipse.m2e.core.prefs
xdrMessageFactory/.classpath
xdrMessageFactory/.gitignore
xdrMessageFactory/.project
xdrMessageFactory/.settings/org.eclipse.core.resources.prefs
xdrMessageFactory/.settings/org.eclipse.jdt.core.prefs
xdrMessageFactory/.settings/org.eclipse.m2e.core.prefs
gui/vendor/
webapp/src/main/resources/public/
/database/target/
/direct/target/