<h2><i class="fa fa-pie-chart"></i> XDR Validator with Toolkit</h2>

<uib-tabset>
    <uib-tab heading="XDR Send" class="tab_saml clickable not-selectable">
        <div class="row">
            <div class="col-md-10">
                <div class="form-group">
                    <label class="control-label" for="patientId">
                        Patient ID&nbsp;
                        <i class="fa fa-question-circle" tooltips tooltip-title="Indicate the Patient ID" tooltip-side="right"></i>
                    </label>
                    <input type="text" placeholder="Patient ID" id="patientId" class="form-control" ng-model="patientId" name="patientId">
                </div>

                <div class="form-group">
                    <label class="control-label">
                        Select Test Data Set&nbsp;
                        <i class="fa fa-question-circle" tooltips tooltip-title="The CDA sample which will be attached to the message" tooltip-side="right"></i>
                    </label>
                    <div class="input-group">
                        <ui-select ng-model="sample.selected" theme="bootstrap">
                            <ui-select-match placeholder="Select attachment to be sent...">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="item in xdrSamples | filter: $select.search">
                                <span ng-bind-html="item.name | highlight: $select.search"></span>
                                <!-- <small ng-bind-html="item.email | highlight: $select.search"></small> -->
                            </ui-select-choices>
                        </ui-select>

                        <span class="input-group-btn">
                        <button ng-click="sample.selected = undefined" class="btn btn-default">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                        </span>

                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="patientId">
                        SAML&nbsp;
                        <i class="fa fa-question-circle" tooltips tooltip-title="Security Assertion Markup Language (SAML) choose ON or OFF" tooltip-side="right"></i>
                    </label>
                    <toggle-switch ng-model="saml" on-label="ON" off-label="OFF" knob-label=" "></toggle-switch>
                </div>

                <div class="form-group">
                    <label class="control-label" for="endpoint">
                        Endpoint&nbsp;
                        <i class="fa fa-question-circle" tooltips tooltip-title="Indicate the Endpoint where the XDR will be sent" tooltip-side="right"></i>
                    </label>
                    <input type="text" placeholder="Endpoint" id="endpoint" class="form-control" ng-model="endpoint" name="endpoint">
                </div>

            </div>
        </div>



        <button type="submit" class="btn btn-lg btn-primary center-block" ng-click="" ladda="laddaLoading" style="margin-bottom: 10px;" ng-disabled="true">Validate</button>

        <div ng-if="xdmResult">
            <hr>
            <pre>{{xdmResult.report}}</pre>
        </div>

    </uib-tab>

    <uib-tab heading="XDR Receive" class="tab_saml clickable not-selectable">

        <div class="row">
            <div class="col-md-10">
                <div class="form-group">
                    <label class="control-label" for="directFrom">
                        Direct From Address&nbsp;
                        <i class="fa fa-question-circle" tooltips tooltip-title="Indicate the Direct from Address of Incoming XDR" tooltip-side="right"></i>
                    </label>
                    <input type="text" placeholder="Direct From Address" id="directFrom" class="form-control" ng-model="directFrom" name="directFrom">
                </div>

                <p>
					<button class="btn btn-default" clipboard text="test.endpoint" on-copied="displayGrowl('Data copied')" title="Copy to clipboard">
						<i class="fa fa-clipboard"></i>
					</button>
					<strong>Endpoint:</strong> {{test.endpoint}}
				</p>
				<p>
					<button class="btn btn-default" clipboard text="test.endpointTLS" on-copied="displayGrowl('Data copied')" title="Copy to clipboard">
						<i class="fa fa-clipboard"></i>
					</button>
					<strong>Endpoint TLS:</strong> {{test.endpointTLS}}
				</p>
            </div>
        </div>

        <button type="submit" class="btn btn-lg btn-primary center-block" ng-click="" ladda="laddaLoading" style="margin-bottom: 10px;" ng-disabled="true">Check For Incoming XDR</button>

    </uib-tab>
</uib-tabset>
