<div>
    <h3 class="doc-title">Guides</h3>
    <ul>
        <li>
            <span style="font-size: 1.5em;">{{pdfName}}</span>
            <!-- <a href="" class="btn btn-default" ng-click="view=!view">
                <i class="fa fa-eye"></i> View
            </a> -->
            <a href="{{pdfUrl}}" target="_blank" class="btn btn-default">
                <i class="fa fa-cloud-download"></i> Download
            </a>
        </li>
        <li>
            <span style="font-size: 1.5em;">Slides from 2015 Edition ETT Detailed Training</span>
            <a href="https://github.com/siteadmin/ett/raw/resources/documentation/training/ONC_ETT_ATL.pptx" target="_blank" class="btn btn-default">
                <i class="fa fa-cloud-download"></i> Download
            </a>
        </li>
    </ul>
    <h3 class="doc-title">Samples</h3>
    <ul>
        <li>
            <span style="font-size: 1.5em;">C-CDA Test Data Package</span>
            <a href="https://github.com/siteadmin/2015-Certification-C-CDA-Test-Data/archive/master.zip" target="_blank" class="btn btn-default">
                <i class="fa fa-cloud-download"></i> Download
            </a>
        </li>
        <li>
            <span style="font-size: 1.5em;">C32/CCR Samples</span>
            <a href="https://github.com/siteadmin/ett/tree/resources/data/ccr-c32-samples" target="_blank">
                <i class="fa fa-external-link"></i> External Link
            </a>
        </li>
    </ul>
    <h3 class="doc-title">Documents</h3>
    <ul>
        <li>
            <span style="font-size: 1.5em;">2015 Test Procedures and Companion Guides</span>
            <a href="https://www.healthit.gov/policy-researchers-implementers/2015-edition-test-method" target="_blank">
                <i class="fa fa-external-link"></i> External Link
            </a>
        </li>
        <li>
            <span style="font-size: 1.5em;">Local Installation Guide</span>
            <a ui-sref="edge.localinstall">
                <i class="fa fa-external-link"></i> External Link
            </a>
         </li>
        <li>
            <span style="font-size: 1.5em;">Installing using the AMI (Amazon Machine Image)</span>
            <a href="https://github.com/siteadmin/ett/raw/resources/documentation/guides/AMI.docx" target="_blank" class="btn btn-default">
                <i class="fa fa-cloud-download"></i> Download
            </a>
        </li>
    </ul>
    <h3 class="doc-title">ETT Instruction/Demonstration Videos</h3>
    <ul>
        <li>
            <span style="font-size: 1.5em;">Demonstration Videos</span>
            <a href="https://github.com/siteadmin/ett/tree/resources/documentation/training/nist-training-videos" target="_blank">
                <i class="fa fa-external-link"></i> External Link
            </a>
        </li>
            Note: The infrastructure references from the videos have changed. More details can be found here.<a href="https://github.com/siteadmin/ett/blob/resources/documentation/training/nist-training-videos/readme.txt" target="_blank"> <i class="fa fa-external-link"></i> External Link</a>
    </ul>
</div>

<!-- <div class="wrapper" ng-show="view">
    <ng-pdf template-url="templates/pdfViewer.tpl.html" canvasid="pdf" scale="1.5"></ng-pdf>
</div>
 -->
