<div>
    <h3 class="doc-title">Guides</h3>
    <ul>
        <li>
            <span style="font-size: 1.5em;">{{pdfName}}</span>
            <!-- <a href="" class="btn btn-default" ng-click="view=!view">
                <i class="fa fa-eye"></i> View
            </a> -->
            <a href="{{pdfUrl}}" target="_blank" class="btn btn-default">
                <i class="fa fa-cloud-download"></i> Download
            </a>
        </li>
        <li>
            <span style="font-size: 1.5em;">Slides from 2015 Edition ETT Detailed Training session: 02/02/2016</span>
            <a href="https://github.com/siteadmin/ttp/raw/master/resources/documentation/training/ONC_ETT_ATL.pptx" target="_blank" class="btn btn-default">
                <i class="fa fa-cloud-download"></i> Download
            </a>
        </li>
    </ul>
    <h3 class="doc-title">Samples</h3>
    <ul>
        <li>
            <span style="font-size: 1.5em;">CCDA/C32/CCR Samples</span>
            <a href="http://sourceforge.net/projects/mutransporttesting/files/certificates/ccda-samples/" target="_blank" class="btn btn-default">
                <i class="fa fa-cloud-download"></i> Download
            </a>
        </li>
        <li>
            <span style="font-size: 1.5em;">C-CDA R2.1 Data</span>
            <a href="https://github.com/siteadmin/2015-Certification-C-CDA-Test-Data/archive/master.zip" target="_blank" class="btn btn-default">
                <i class="fa fa-cloud-download"></i> Download
            </a>
        </li>
    </ul>
    <h3 class="doc-title">Documents</h3>
    <ul>
        <li>
            <span style="font-size: 1.5em;">Test Procedures 170.314(b)(8) and 170.314(e)(1) are available from ONC</span>
            <a href="https://www.healthit.gov/policy-researchers-implementers/2015-edition-test-method" target="_blank" class="btn btn-default">
                <i class="fa fa-cloud-download"></i> Download
            </a>
        </li>
    </ul>

    <h3 class="doc-title">ETT Instruction/Demonstration Videos</h3>
    <ul>
        <li>
            <span style="font-size: 1.5em;">Demonstration Videos</span>
            <a href="http://hit-testing.nist.gov/training/video_demos.html" target="_blank" class="btn btn-default">
                <i class="fa fa-cloud-download"></i> Download
            </a>
        </li>
    </ul>
</div>

<!-- <div class="wrapper" ng-show="view">
    <ng-pdf template-url="templates/pdfViewer.tpl.html" canvasid="pdf" scale="1.5"></ng-pdf>
</div>
 -->
