<div class="row-fluid" id="footer">
	<hr>
	<div class="footeritem col-sm-3 col-md-3">
		<a href="http://www.nist.gov" target="_blank">
			<img class="footerImage" src="assets/img/nist_logo.png" alt="The NIST Logo" title="The NIST Logo">
		</a>
	</div>
	<div class="footeritem col-sm-6 col-md-6">
		<p>The National Institute of Standards and Technology (NIST) is an agency of the U.S. Department of Commerce.</p>
		<p class="links">
			<a href="http://nist.gov/public_affairs/privacy.cfm">Privacy policy / security notice / accessibility statement</a> /
			<a href="http://nist.gov/public_affairs/disclaimer.cfm">Disclaimer</a> /
			<br>
		</p>
		<p class="dateCreated">
			<strong>Date created: </strong>July 9, 2014 |
			<strong>Last updated: </strong>{{properties.lastUpdated}} |
			<strong>Version: </strong>{{properties.version}}
			<br>
			<strong>Browsers supported: </strong>For best result, Firefox 3.x and Chrome are recommended
		</p>
	</div>
	<div class="footeritem col-sm-3 col-md-3">
		<a href="http://www.healthit.gov" target="_blank">
			<img class="footerImage" src="assets/img/onc_logo.png" alt="The ONC Logo" title="The ONC Logo">
		</a>
	</div>
</div>
