<div class="row-fluid" id="footer">
	<hr>
	<div class="footeritem col-sm-3 col-md-3">
		<p class="dateCreated">
			<br>
			<strong>Version: </strong>{{properties.version}}
			<strong>Last updated: </strong>{{properties.lastUpdated}}
		</p>
		<p>
		<p class="links">
			<a ui-sref="edge.releaseNotes" target="_blank" style="color: #f3c50d">View full release notes</a>&nbsp;&nbsp;&nbsp;&nbsp;
		</p>

	</div>
	<div class="footeritem col-sm-6 col-md-6">
		<p class="links">
			<a href="http://www.hhs.gov/privacy.html" target="_blank"  style="color: #f3c50d">Privacy Policy</a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="https://www.healthit.gov/newsroom/web-site-disclaimers" target="_blank"  style="color: #f3c50d">Disclaimers</a>
			<br>
		</p>
		<p>For Technical Support: <a href="https://groups.google.com/d/forum/edge-test-tool" target="_blank"  style="color: #f3c50d">https://groups.google.com/d/forum/edge-test-tool</a>
			or <a href="mailto:edge-testing-tool@googlegroups.com" target="_blank"  style="color: #f3c50d">edge-testing-tool@googlegroups.com</a>
		</p>
		<p>
			Recommended Browsers: For best result use, Firefox 3.x and Chrome
		</p>
	</div>
	<div class="footeritem col-sm-3 col-md-3">
		<a href="http://www.healthit.gov" target="_blank">
			<img class="footerImage" src="assets/img/onc_logo.png" alt="The ONC Logo" title="The ONC Logo">
		</a>
	</div>
</div>