<div ng-switch on="!showmessage">
<div class="alert alert-warning alert-dismissible fade in">
	<a href="#" class="close" data-dismiss="alert" ng-click="toggleDisplayDiv()" aria-label="close">&times;</a>
	<p>PHI Note: The SITE tools do not retain your submitted files. However, we strongly suggest that you do not include any Protected Health Information (PHI) or Personally Identifiable Information (PII) in your file submissions within our tools. Click <a href="https://www.hhs.gov/hipaa/for-professionals/privacy/special-topics/de-identification/index.html" target="_blank" title="PHI " rel="external">here</a> for more information on how to de-identify PHI.</p>
</div>
</div>