<div id="hosting-results" >
	<div ng-if="data.status ==='success'">
	<div class="form-group">
		<div class="">
			<span class="form-cell form-cell-label"> <span
				class="glyphicon glyphicon-certificate glyphicon-type-info"></span>Results
			</span>
		</div>
	</div>


	<div id="testcase-results-accordion" style="font-size:70%;background:white">

		<div>

			<!-- item loop -->
            <div ng-repeat="item in data.items">

		<div class="cancel" ng-click="showhidediv()"><h3 style="font-size:100%">
		<div ng-if="item.success==false">
			<uib-alert type="danger">
				<div>
					<span><strong><i class="a fa fa-close fa-2x"></i>Testcase</strong>: {{data.testcase.testcase}}</span>
				</div>
				<div>
					<span><strong>Direct Address</strong>: {{data.testcase.directAddr}}</span>
				</div>
			</uib-alert>
		</div>
		<div ng-if="item.success==true">
			<uib-alert type="success">
				<div>
					<span><strong><i class="a fa fa-check-circle-o fa-3x"></i>Testcase</strong>: {{data.testcase.testcase}}</span>
				</div>
				<div>
					<span><strong>Direct Address</strong>: {{data.testcase.directAddr}}</span>
				</div>
			</uib-alert>
		</div>		
		</h3>
		</div>
		
			<div>
				<span><strong>Success</strong>: {{item.success}}</span>
			</div>
			
            <div ng-repeat="procMsg in item.procMsgs">
                <strong></strong>
            </div>
      <div ng-if="item.procMsgs | isEmpty">
        <strong>Processing Message(s): None</strong>
      </div>
		<span><strong>Processed Step(s)</strong>:
            <div ng-repeat="procStep in item.procSteps">
				   <div><span>{{$index+1}}. <strong>{{procStep.desc.text}}</strong></span></div>
			        <ul><li><div><span><strong>Success</strong>:{{procStep.success}} </span></div></li>
			         <div ng-repeat="msg in procStep.msgs">
			         <div ng-if="msg.level==='INFO' || msg.level==='ERROR'">
			            <li><div><span><strong>Message(s)</strong>: </span></div></li>
			            <ul><li><p style="display: inline; width: 150px; word-break: break-all; word-wrap: break-word;">
			                    {{msg.text}}
			                    </p></li>
			            </ul>
			         </div>
			         </div>
			            <li><div><span><strong>Binding Type</strong>:{{procStep.bindingType}} </span></div></li>
			            <li><div><span><strong>Location Type</strong>:{{procStep.locType}} </span></div></li>
			        </ul>
              </div>
				<div>
					<strong>Discovered Valid Certificate</strong>:
					<div ng-if="item.discoveredCertInfo.cert">
					  <pre style="font-size:100%; white-space:pre-wrap; background:white">{{item.discoveredCertInfo.cert | json}}</pre>
					</div>
				</div>
				<div>
					<strong>Discovered Invalid Certificate(s)</strong>:
					<div ng-if="item.invalidDiscoveredCertInfos.cert">
					  <pre>{{item.invalidDiscoveredCertInfos.cert | json}}</pre>
					</div>
				</div>
		</div>
	</div>
	</div>
   </div>

</div>
