<div class="navbar">
    <div class="brand" id="appheader">
        <a style="display: inline-block; text-shadow:none" href ui-sref="home">
            <div msg="" id="apptitle" key="title">Edge Testing Tool - Message Validators</div>
            <div msg="" key="subtitle" id="appsubtitle">ONC Certification</div>
        </a>
        <a href ui-sref="home" style="display: inline-block; text-shadow:none" class="pull-right">
            <div msg="" key="subtitle" id="appsubtitle">
                ETT Home <i class="fa fa-chevron-right"></i>
            </div>
        </a>
    </div>
    <div class="navbar-inner" ng-controller="HeaderCtrl">
        <ul class="nav">
            <li ui-sref-active="active">
                <a ui-sref=".ccdar1">CCDA R1.1 Validator</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref=".ccdar2">CCDA R2.1 Validator</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref=".xdm">XDM Validator</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref=".xdr">XDR Validator</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref=".direct">Direct Message Validator</a>
            </li>
            <li ui-sref-active="active" class="pull-right">
                <a ui-sref=".help">
                    <div msg="" key="navbar.help"><i class="fa fa-question-circle"></i> Help</div>
                </a>
            </li>
            <li ui-sref-active="active" class="pull-right">
                <a ui-sref=".documents">
                    <div msg="" key="navbar.documents"><i class="fa fa-book"></i> Documents</div>
                </a>
            </li>
            <li class="pull-right" ng-show="!userInfo.logged">
                <a href="">
                    <div key="navbar.login" ng-click="loginPopup()">Login/Sign up</div>
                </a>
            </li>
            <li uib-dropdown class="pull-right" ng-show="userInfo.logged">
                <a href="#" uib-dropdown-toggle>Welcome {{userInfo.username}}<b class="caret"></b></a>
                <ul class="uib-dropdown-menu">
                    <li><a ui-sref=".accountInfo">Account Info</a>
                    </li>
                    <li><a ui-sref=".changePassword">Change Password</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="" ng-click="logout()">Logout</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
